#!/usr/bin/env python3
""" A RebootProgram for slurm which can rebuild the node running it.

    This is intended to set as the `RebootProgram` in `slurm.conf`.
    It is then triggered by slurm using something like:

        scontrol reboot [ASAP] reason="rebuild"
    
    If the reason does not contain "rebuild" then the node is simply rebooted.

    Requires:
    - Python 3 with openstacksdk module
    - The node's Openstack ID to have been set by cloud init in `/var/lib/cloud/data/instance-id`
    - Requires sudo rights for reboot
"""

import json, socket, os, sys, subprocess
import openstack

# find short hostname (without fqdn):
hostname = socket.gethostname().split('.')[0]

# see why we're being rebooted:
sinfo = subprocess.run(['sinfo', '--noheader', '--nodes=%s' % hostname, '-O', 'Reason'], stdout=subprocess.PIPE, universal_newlines=True)
reason = sinfo.stdout.strip()

# find server running this script:
with open('/var/lib/cloud/data/instance-id') as f:
    instance_id = f.readline().strip()
conn = openstack.connection.from_config(cloud="{{ cloud.name }}")
me = conn.compute.get_server(instance_id)

# rebuild myself:
if "rebuild" in reason:
    print('rebooting', me)
    conn.compute.rebuild_server(me)
else:
    os.system('sudo reboot')